{% extends 'home/base.html' %}

{% block content %}
    
    <h1>Welcome to the ultimate book app!</h1>

    <p>This app enable you to list the book you read and write comment about them.</p>
    
    <a href="{% url 'add_a_book' %}">Add a book</a>

    <ul>
        {% for book in books %}
        <li> {{ book.title  }} </li>
        <li> {{ book.author }} </li>
        <li> {{ book.ISBN   }} </li>
        <li> {{ book.date   }} </li>
        <li> {{ book.notes  }} </li>
        <li> {{ book.image.name  }} </li>
        <img src="{{ MEDIA_URL }}{{ book.image.name }}" alt="My image">
        <!--https://docs.djangoproject.com/en/dev/howto/static-files/#basic-usage-->
        {% endfor %}
    </ul>

{% endblock content %}